{% extends 'base.html' %}

  {% load static %}

  {% block styles %}
    <link href="{% static '/css/app.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static '/css/signuplogin.css' %}" rel="stylesheet" type="text/css" />
  {% endblock styles %}


{% block content %}

	<div class="container-fluid">
    <div class="row">
        <div class="Awhitemodal" style="width: 60%;">

        	{% if validlink %}

          <h1 class="welcometext">RESET PASSWORD</h1> <br>
          <div style="display:block; text-align: center; margin: 0 auto;">
            <div class="passwordsubtxt">Set a new password!</div>
          
          	<br>
          	<form method="POST">
        		{% csrf_token %}
        			<div style="width: 80%; float: center; margin: 0 auto"> {{ form.as_p }}</div>
        			<br>
        			<input type="submit" class="Asignuploginbutton" value="Change my password" style="	width: 16rem; margin-bottom: 30px;">
        	</form>
          <br> 

          	{% else %}
          	<p style="float:center; margin: 0 auto; text-align: center;">The password reset link was invalid, possibly because it has already been used.  <br> Please request a new password reset.</p> 
          	{% endif %}  
        </div>
        </div>      
    </div>
  </div>

<br> <br> 
{% endblock %}