{% extends 'base.html' %}
  {% load static %}

  {% block styles %}
    <link href="{% static '/css/app.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static '/css/signuplogin.css' %}" rel="stylesheet" type="text/css" />
  {% endblock styles %}

{% block content %}
  <br> <br> <br>
 
  <div class="container-fluid">
    <div class="row">
      <!-- <div class="col-12 col-md-7"> -->
        <div class="Awhitemodal">
          <h1 class="welcometext">RESET PASSWORD</h1> <br>
          <div style="display:block; text-align: center; margin: 0 auto;">
            <div class="passwordsubtxt">Enter your email below and we'll email instructions for setting a new one.</div>
          
          <br> <br> 
          <form method="POST">
            {% csrf_token %}
            
              {% for field in form %}
              {{ field.label_tag }}  <br>
              {{ field }}&nbsp;
              {% endfor %}
            <br> <br> <br> 
            <!-- {{ form.as_p }}  <br> -->
            <input class="Asignuploginbutton" type="submit" value="Submit">
          </form>
          <br>
        </div>
        </div>
      <!-- </div> -->
      
    </div>
  </div>
{% endblock %}
