{% extends 'base.html' %}

{% block content %}
<nav> 
  <li {% if active_link == "home" %}class="active"{% endif %}><a href="{% url 'home' %}">Home</a></li> 
  <li {% if active_link == "signup" %}class="active"{% endif %}><a href="{% url 'signup' %}">Sign Up</a></li> 
  <li {% if active_link == "login" %}class="active"{% endif %}><a href="{% url 'login' %}">Login</a></li> 
</nav>

  <h1>Forgot your password?</h1>
  <p>Enter your email below and we'll email instructions for setting a new one.</p>

  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
  </form>
{% endblock %}
