{% extends 'base.html' %}
  {% load static %}

  {% block styles %}
    <link href="{% static '/css/app.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static '/css/signuplogin.css' %}" rel="stylesheet" type="text/css" />
  {% endblock styles %}

{% block content %}
  <br> <br> <br>
 
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-7">
        <div class="Awhitemodal">
          <h1 class="welcometext">RESET PASSWORD</h1> <br>
          <div stlye="display:block; text-align: center; margin: 0 auto">
            <p>Enter your email below and we'll email instructions for setting a new one.</p>
          </div>
          <br>
          <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="Asignuploginbutton" type="submit" value="Submit">
          </form>
        </div>
      </div>
      
    </div>
  </div>
{% endblock %}
