{% extends 'base.html' %}

{% load static %}

  {% block styles %}
    <link href="{% static '/css/app.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static '/css/signuplogin.css' %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  {% endblock styles %}

{% block content %}

<br> <br> <br>
 
  <div class="container-fluid">
    <div class="row">
      <!-- <div class="col-12 col-md-7"> -->
        <div class="Awhitemodal" style="width: 60%;">
          <h1 class="welcometext">RESET PASSWORD</h1> 
          <div style="display:block; text-align: center; margin: 0 auto;">
            <div class="passwordsubtxt">Your password has been changed.</div>
          
          	<br> <br>

          	<div style="flex-direction: row; display: flex; ">
          	<a href="{% url 'login' %}" class="Asignuploginbutton" style="vertical-align: middle; text-decoration: none; color: #FFFFFF; padding-top: 0.6rem; margin-right:5px;">Login</a> 
    		<a href="{% url 'home' %}" class="Asignuploginbutton" style="vertical-align: middle; text-decoration: none; color: #FFFFFF; padding-top: 0.6rem; margin-left:5px;"> Home</a> 
          	</div>

          <br>
        </div>
        </div>
      
    </div>
  </div>


{% endblock %}