{% extends 'base.html' %}

{% load static %}

  {% block styles %}
    <link href="{% static 'css/app.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/signuplogin.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/home.css' %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
    	subscribebutton a:hover {
    		text-decoration: none;
    	}
    </style>
  {% endblock styles %}

{% block title %}Email Sent{% endblock %}

{% block content %}

  <div class="container-fluid">
    <div class="row">
        <div class="Awhitemodal">
          <h1 class="welcometext" style="padding-top: 10px;">Check your inbox!</h1> <br>
          <div style="display:block; text-align: center; margin: 0 auto;">
            <div class="passwordsubtxt">We've emailed you instructions for setting your password. 
            	<br>You should receive the email shortly!</div>
         
         	<br> <br>
            <a href="{% url 'home' %}" class="subscribebutton" style="padding-top: 10px; padding-bottom: 10px; text-decoration: none; color: #FFFFFF"><i class="fa fa-home" ></i> Return Home</a> 
         
          <br> <br>
        </div>
        </div>
      <!-- </div> -->
      
    </div>
  </div>

{% endblock %}