<li {% if active_link == "home" %}class="active"{% endif %}><a href="{% url 'home' %}">Home</a></li>
<li {% if active_link == "about" %}class="active"{% endif %}><a href="{% url 'about' %}">About</a></li>

<li {% if active_link == "login" %}class="active"{% endif %}><a href="{% url 'accounts:login' %}">Login</a></li>

<li {% if active_link == "signup" %}class="active"{% endif %}><a href="{% url 'accounts:signup' %}">Sign Up</a></li>

<li {% if active_link == "contact" %}class="active"{% endif %}><a href="{% url 'accounts:contact' %}">Contact</a></li>
