{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}About{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="about" %}
{% endblock %}

<!-- Benefits of the Django application -->
{% block container %}

<div id="sec1" class="text-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>{% include "_brandname.html" %}</h1>
        <p class="lead">We wont really have this page, but its a good template to see how things work!</p>
      </div>
    </div>
  </div>
</div>

<div id="sec2" class="text-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>Meet The Team</h2>
        <p class="lead">The Wonderful People Behind the Site</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="text-center"><img class="img-circle centered" src="https://cdn.tuftsdaily.com/2018/04/IMG_6680-1250x790.jpg" alt="profile pic"></div>
        <p class="heavy text-center">Jumbo Coder</p>
        <h2>Front-end developer</h2>
        <p> Likes peanuts and long walks on the beach </p>
      </div>
    </div>
  </div>
</div>

{% endblock container %}
