{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Home{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="home" %}
{% endblock %}

{% block navbar-right %}
  <!-- {% if not user.is_authenticated %} -->
  <!-- {% else %}
    {{ block.super }}
  {% endif %} -->
{% endblock %}

{% block splash %}
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-8">
          <h1>{% include "_brandname.html" %}</h1>
          <p>Here's a random template website that we can build off of and get a sense of how everything works!</p>
        </div>
        <div class="col-md-4 col-sm-4">

        </div>
      </div>
    </div>
  </div>
{% endblock splash %}

{% block container %}
<!-- Benefits of the Django application -->
<a id="about"></a>

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h2>Sejal, Catherine, Anju, Amelia</h2>
      <p>Here is our page!</p>
      <p><a class="btn btn-primary" href="{% url 'test' %}" role="button">Click here &raquo;</a></p>
    </div>
  </div>
</div>

{% endblock container %}

{% block scripts %}
<script src="{% static 'site/js/site.js' %}"></script>
{% endblock scripts %}

