@import "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css";

html {
	font-family: 'Roboto', sans-serif, regular;
}

.navbar {
    overflow: hidden;
}

.navbar-left {
	padding-top: auto;
	float: left;
	text-align: center;
	margin-left: 20px;

}

.navbar-right {
	float: right;
	text-align: center;
    margin-top: 15px;
    list-style-type: none;
}

.navbar-right li {
	margin-right: 30px;
	text-decoration: none;
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
	color: #2B140D;

	display: inline-block;
	font-weight: normal;
}

.navbar-right a:hover {
	font-weight: bold;

}
.navbar-right a::after {
	content: ""; 
	display: block;
	padding-top: 4px;
	width: 0px;
	border-bottom: 2px solid #2B140D;
	font-weight: bold;
}

.navbar-right a:hover::after {
	width: 100%;
	transition: .5s;
	font-weight: bold;
}

.navbar-logo img {
	width: 100px;
}

li a {
    text-decoration: none;
    color: #2B140D;
}

.hello {
  font-size: 20px;
  font-weight: bold;

}

html, body{
    height:100%;		/* For full height images */
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #eee;
}

.alert {
    margin-top: 55px;
    margin-bottom: 0;
}

body>.navbar-transparent {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

.navbar-transparent .navbar-nav > .active > a {
    background-color: transparent;
}

.navbar-form {
    margin-right: 0;
}

.navbar-nav>li>a.profile-menu {
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-nav>.btn{
    margin-top:10px;
    margin-right: 1.7em;
}

.navbar-nav > li > a {
    font-size: 16px;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-brand > img {
    float: left;
    margin-right: 10px;
}

.btn {
    background-image: none;
    -webkit-box-shadow: 0px 1px 0px #ddd;
    -moz-box-shadow: 0px 1px 0px #ddd;
    box-shadow: 0px 1px 0px #ddd;
}

/* Home page styling */


.contact-banner {
    padding: 100px 0;
    background: #e0e0e0;
    margin-top: 100px;
}

.footer a:hover {
    text-decoration: none;
}

/* About page styling */
#sec1 {
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAJklEQVQIW2NkAIILFy78NzAwYATRjCABZEGwAEwFiA1WBlIOUwkA72gTdDIYVO4AAAAASUVORK5CYII=) repeat;
}


/* Authentication forms */
.form-box form,
.form-box .form-message {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-box form .checkbox {
  margin-bottom: 10px;
}

.form-box form .checkbox {
  font-weight: normal;
}

.form-box form .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-box form .form-control:focus {
  z-index: 2;
}

.error {
    border: 1px solid red;
}

.red {
    color: red;
}

.green {
    color: green;
}
