body {
	background-color: #EFE7E5;
}

.dogborder {
    /* height: 250px;
    width: 200px; */
	/* border-radius: 50%; */
    /* display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden; */
    object-fit: contain;
    border-radius: 50%; 
    border: 6px solid white; 
}

.dogborder img {
    width: 400px;
    height: 300px;
}
