{% extends 'base.html' %}

{% load static %}

{% block content %}
    <h1>Add Dog</h1>
    <form action="" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>Name: </td>
                <td><input name="dog_name" id="dog_name" required></td>
            </tr>
            <tr>
                <td>Location: </td>
                <td><input name="dog_location" id="dog_location" required></td>
            </tr>
            <tr>
                <td>Zip code: </td>
                <td><input name="dog_zip" id="dog_zip" maxlength="10" size="10" pattern="[0-9]{5}" required></td>
            </tr>
        </table>

        <br>
        <input type="checkbox" name="dog_visible" id="dog_visible" checked>
        <label for="dog_visible">Visible?</label>
        <br><br>

        <table style="background-color: rgba(204, 240, 252, 0.658); border: 1px solid black; border-collapse: collapse;">

            <!-- iterate through days ['Monday', 'Tuesday', ...] -->
            {% for day in days %}
                <tr style="border: 1px solid black;">
                    <td><h2>{{ day }}</h2></td>
                    <!-- iterate through hours ['9:00am', '10:00am', ...] -->
                    {% for hour in hours %}
                        <td style="min-width: 120px;">
                        <!-- checkbox naming scheme: "Thursday-2:00pm" -->
                        <input type="checkbox" name="{{ day }}-{{ hour }}" id="{{ day }}-{{ hour }}">
                        <label for="{{ day }}-{{ hour }}">{{ hour }}</label>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <br>
        <button type="submit" name="save_dog" id="save_dog">Save</button>
    </form>
    <!-- Seperate form avoids data validation -->
    <form action="" method="post">
        {% csrf_token %}
        <button type="submit" name="cancel" id="cancel">Cancel</button>
    </form>
{% endblock %}