{% extends 'base.html' %}

{% load static %}

<!-- {% block styles %}
    <link href="{% static 'css/app.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/results.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/home.css' %}" rel="stylesheet" type="text/css" />

{% endblock styles %} -->

{% block content %}

<div style="margin-left: 1.5%;">
    <h1>Admin</h1>
    <hr style="background-color: grey; margin-left: -1.5%; height: 2px;">
    <form action="" method="post">
        {% csrf_token %}
        <h2>Matching</h2>
        <br>
        <button id="match" name="match" type="submit">Match Dogs With Walkers</button>
        <br><br>
        {% if success %}
            <div>Success! Matches made!</div>
        {% endif %}
        <hr style="background-color: grey; margin-left: -1.5%;">
        <h2>Form Controls</h2>
        <br>
        <button id="openForm" name="openForm" type="submit" 
                onclick="return confirm('Are you sure you would like to open the form?')">
                Open Form
        </button>
        <button id="closeForm" name="closeForm" type="submit" 
                onclick="return confirm('Are you sure you would like to close access to the form?')">
                Close Form
        </button>
        <br><br>
        <hr style="background-color: grey; margin-left: -1.5%;">
        <h2>Database Clearing</h2>
        <br>
        <button id="delete" name="delete" type="submit" onclick="return confirm('Are you sure you want to delete all matches?')">Delete Matches</button>
        <button id="clearUserTimes" name="clearUserTimes" type="submit" onclick="return confirm('Are you sure you want to clear walker time selections?')">Clear User Time Selections</button>
        <br><br>
        {% if clear %} 
            <div>Successfully deleted matches.</div>
        {% endif %}
        {% if clear_user_times %} 
            <div>Cleared all walker times.</div>
        {% endif %}
        <hr style="background-color: grey; margin-left: -1.5%;">

        <h5><a href="{% url 'admin:index' %}">Advanced Settings</a></h5>


    </form>
</div>

    <p></p>
    



{% endblock %}