{% extends 'base.html' %}

{% load static %}
{% load thumbnail %}

 {% block styles %}
  <link href="{% static '/css/app.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static '/css/gallery.css' %}" rel="stylesheet" type="text/css" />
  {% endblock styles %}

{% block content %}
<br>


	<div class="container" > 
		<div class="row align-items-center justify-content-center" >
			{% for dog in dogs %}
			<div class=“col-md” style="margin: 40px;" > 
				<div class="dogborder" > 
					<img src="/{{ dog.image_path|thumbnail_url:'gallery' }}" class="rounded-circle"; style = "max-width:300px; max-height:300px;" 
                    class = "img-responsive";>
				</div>
				<br><br>
				<p style="text-align: center;"> {{dog.name}}</p>
				
			</div>
			{% endfor %}
		</div>
	</div>

	

{% endblock %}
