{% extends 'base.html' %}

{% load static %}

 {% block styles %}
  <link href="{% static '/css/app.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static '/css/gallery.css' %}" rel="stylesheet" type="text/css" />
  {% endblock styles %}

{% block content %}
<br>


	<div class="container" > 
		<div class="row align-items-center justify-content-center" >
			{% for dog in dogs %}
			<div class=“col-md” style="margin: 40px;" > 
				<div class="dogborder" > 
					<!-- temp border  -->
					<!-- <img src="{{dog.image_path}}" style="max-width:300px; max-height:300px;"> -->
				</div>
				<br><br>
				<p style="text-align: center;"> {{dog.name}}</p>
				
			</div>
			{% endfor %}
		</div>
	</div>

	

{% endblock %}
