{% extends 'base.html' %}

{% block content %}
<nav> <li {% if active_link == "home" %}class="active"{% endif %}><a href="{% url 'home' %}">Home</a></li>                                                                                                            <li {% if active_link == "signup" %}class="active"{% endif %}><a href="{% url 'signup' %}">Sign Up</a></li>                                                                                                     <li {% if active_link == "signup" %}class="active"{% endif %}><a href="{% url 'login' %}">Log in</a></li> </nav>                                                                                                <li {% if active_link == "password_reset" %}class="active"{% endif %}><a href="{% url 'password_reset' %}">Forgot your password?</a></li> </nav>

</nav>                                                                                                        <h1>Dog Gallery</h1>
	{% for dog in dogs %}
	<p> {{ dog.name }} </p>
	<img src={{dog.image_path}}/>
	{% endfor %}
{% endblock %}
