{% extends 'base.html' %}

{% load static %}

{% block content %}
    <h1>{{ data.dog.name }}</h1>

    <img width="100" height="100" src="{{ data.dog.image }}"/>
    
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            <tr>
                <td>Name: </td>
                <td><input name="dog_name" id="dog_name" value="{{ data.dog.name }}" required></td>
            </tr>
            <tr>
                <td>Info: </td>
                <td><textarea name="dog_info" id="dog_info" rows="5" cols="50">{{ data.dog.info }}</textarea></td>
            </tr>
            <tr>
                <td>Owner Name: </td>
                <td><input name="owner_name" id="owner_name" value="{{ data.dog.owner_name }}" required></td>
            </tr>
            <tr>
                <td>Owner Phone: </td>
                <td>
                    <input name="owner_phone" id="owner_phone" value="{{ data.dog.phone }}"
                           pattern="^(\+\d{1,2}\s)?\d{3}-\d{3}-\d{4}$" title="+X XXX-XXX-XXXX (country code optional)" placeholder="+X XXX-XXX-XXXX (country code optional)"
                           required>
                </td>
            </tr>
            <tr>
                <td>Owner Email: </td>
                <td><input name="owner_email" id="owner_email" value="{{ data.dog.email }}" required></td>
            </tr>
            <tr>
                <td>Address: </td>
                <td><input name="street_address" id="street_address" value="{{ data.dog.street_address }}" required></td>
            </tr>
            <tr>
                <td>City: </td>
                <td><input name="city" id="city" value="{{ data.dog.city }}" required></td>
            </tr>
            <tr>
                <td>Zipcode: </td>
                <td><input name="zipcode" id="zipcode" value="{{ data.dog.zipcode }}" pattern="^[0-9]{5}$" title="XXXXX" placeholder="XXXXX" required></td>
            </tr>
            <tr>
                {{ image_form.media }}
                {{ image_form }}
            </tr>
        </table>
        <br>
        <input type="checkbox" name="dog_visible" id="dog_visible">
        <label for="dog_visible">Visible?</label>
        <br><br>

        <table style="background-color: rgba(204, 240, 252, 0.658); border: 1px solid black; border-collapse: collapse;">

            <!-- FOR HEADER - iterate through days ['Monday', 'Tuesday', ...] -->
            <tr style="border: 1px solid black;">
                {% for day in data.days %}
                    <td><h2 style="text-align: center; min-width: 200px;">{{ day }}</h2></td>
                {% endfor %}
            </tr>
            
            <!-- iterate through hours ['9:00am', '10:00am', ...] -->
            {% for hour in data.hours %}
                <tr>
                    <!-- iterate through days ['Monday', 'Tuesday', ...] -->
                    {% for day in data.days %}
                        <td>
                            <!-- checkbox naming scheme: "Thursday-2:00pm" -->
                            <input type="checkbox" name="{{ day }}-{{ hour }}" id="{{ day }}-{{ hour }}">
                            <label for="{{ day }}-{{ hour }}">{{ hour }}</label>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        
        <br><br>
        <button type="submit" name="save_dog" id="save_dog">Save</button>
    </form>
    <!-- Seperate form avoids data validation -->
    <form action="" method="post">
        {% csrf_token %}
        <button type="submit" name="cancel" id="cancel">Cancel</button>
        <button type="submit" name="delete" id="delete" onclick="return confirm('Delete {{ data.dog.name }}?')">Delete</button>
    </form>

    <script>
        var data = JSON.parse("{{ json_data|escapejs }}");

        document.getElementById("dog_visible").checked = data["visible"];

        var days = data["days"];
        var hours = data["hours"];
        var times = data["times"];
        for (var day = 0; day < days.length; day++) {
            for (var hour = 0; hour < hours.length; hour++) {
                document.getElementById(days[day] + "-" + hours[hour]).checked = times[day][hour];
            }
        }
    </script>
{% endblock %}
