{% extends 'base.html' %}

{% load static %}

{% block content %}

    <h1>{{ dog.name }}</h1>

    <form action="" method="post">
        {% csrf_token %}
        <div style="background-color: rgba(204, 240, 252, 0.658); overflow-x: scroll;">

            <!-- iterate through days ['Monday', 'Tuesday', ...] -->
            {% for day in days %}
                <h2>{{ day }}</h2>
                <table style="border-bottom: 1px solid black">
                    <tr>

                        <!-- iterate through hours ['9:00am', '10:00am', ...] -->
                        {% for hour in hours %}
                            <td style="min-width: 150px;">

                                <!-- checkbox naming scheme: "Thursday-2:00pm" -->
                                <input type="checkbox" name="{{ day }}-{{ hour }}" id="{{ day }}-{{ hour }}">
                                <label for="{{ day }}-{{ hour }}">{{ hour }}</label><br>
                            </td>
                        {% endfor %}
                    </tr>
                </table>
            {% endfor %}
        </div>
        <button type="submit" name="save_dog" id="save_dog">Save</button>
    </form>
{% endblock %}