{% extends 'base.html' %}

{% load static %}

{% block styles %}
    <link href="{% static '/css/app.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static '/css/form.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static '/css/home.css' %}" rel="stylesheet" type="text/css" />
{% endblock styles %}


{% block content %}

	<br> <br>

	<div class="container-fluid" >

        <div class="whiteresultcontainer" style="width: 80%;" > 

            <div class="formheaders">Profile</div>

			<form action="" method="post" style="margin-left: 65px;">
			{% csrf_token %}

			<div class="table-responsive-lg" style="margin: 0 auto">
			<table >
				<tr style="text-align: left;">
					<td style="margin-right: 10px;" class="formtext">Name: </td>
					<td><input name="walker_name" id="walker_name" value="{{ data.walker.name }}" maxlength="30" size="30" required class="formfield"></td>
				</tr>
				<tr style="text-align: left;">
					<td style="margin-right: 10px;" class="formtext">Email: </td>
					<td>{{ data.walker.email }}</td>
				</tr>
				<tr style="text-align: left;">
					<td style="padding-right: 20px;" class="formtext">Phone Number: </td>
					<td><input type="tel" name="walker_phone" id="walker_phone" value="{{ data.walker.phone }}" maxlength="16" size="16" pattern="^(\+\d{1,2}\s)?\d{3}-\d{3}-\d{4}$" placeholder="+X XXX-XXX-XXXX" required class="formfield"></td>
				</tr>
			</table>
			</div>
			
			<br> <br>

        </div>

    </div>
	

    <br> 
	<div class="d-flex justify-content-center">
		<button type="submit" name="save_walker" id="save_walker" class="subscribebutton" style="margin-left: 5px; margin-right: 5px">Save</button>
		<br>
		<button type="submit" name="cancel" id="cancel" class="subscribebutton" style="margin-left: 5px; margin-right: 5px">Cancel</button>
	</div>
	<br/>
	<div class="d-flex justify-content-center">
		<button type="submit" name="go_to_form" id="go_to_form" class="subscribebutton" style="margin-left: 5px; margin-right: 5px">Go to Signup</button>
	</div>
	{% if data.walker.saved %}
	<div class="d-flex justify-content-center">
		<label for="save_walker" style="color: seagreen;">Profile Saved</label>
	</div>
	{% endif %}
	<br> 

    <div class="container-fluid" >

        <div class="whiteresultcontainer" style="width: 80%;" > 

            <div class="formheaders">Your Matches</div>

            <div class="table-responsive-sm" >
	            <table class="table" style="border-collapse: collapse; text-align: center; margin-left: 65px; width: 85%">
		            <tr>
		                <th>Dog</th>
		                <th>Walk Days</th>
		                <th>Walk Time</th>
		            </tr>

		            {% for match in data.match_list %}
		            <tr>
		                    <!-- list match attributes in each cell -->
		                    <td>{{ match.dog_name }}</td>
		                    <td>{{ match.day }}</td>
		                    <td>{{ match.start_time }} - {{ match.end_time }}</td>
		            </tr>
		            {% endfor %}
	        	</table>
	        </div>	
	    	
	        <br>
		</div>
		{% if data.match_list %}
		<br> <br>
		<div class="whiteresultcontainer" style="width: 80%;" > 

			<div class="formheaders">Owner Contact Info</div>
			<div class="table-responsive-sm" >
	            <table class="table" style="border-collapse: collapse; text-align: center; margin-left: 65px; width: 85%">
		            <tr>
		                <th>Dog</th>
		                <th>Owner</th>
		                <th>Phone</th>
						<th>Email</th>
						<th>Address</th>
		            </tr>

		            {% for owner in data.owner_info %}
		            <tr>
		                    <!-- list match attributes in each cell -->
		                    <td>{{ owner.dog_name }}</td>
							<td>{{ owner.owner_name }}</td>
							<td>{{ owner.owner_number }}</td>
							<td>{{ owner.owner_email }}</td>
							<td>{{ owner.address }}</td>
		            </tr>
		            {% endfor %}
	        	</table>
	        </div>	
			<br> <br>
	    	
		</div>
		<br> <br>
		{% for dog in data.my_dogs_other_walkers %}
		<div class="whiteresultcontainer" style="width: 80%;" > 

			<div class="formheaders">Other Walkers for {{dog.dog_name}}</div>
			<div class="table-responsive-sm" >
	            <table class="table" style="border-collapse: collapse; text-align: center; margin-left: 65px; width: 85%">
		            <tr>
		                <th>Name</th>
		                <th>Phone</th>
		                <th>Email</th>
		            </tr>

		            {% for other_walker in dog.other_walkers %}
		            <tr>
		                    <!-- list match attributes in each cell -->
		                    <td>{{ other_walker.name }}</td>
							<td>{{ other_walker.phone_number }}</td>
							<td>{{ other_walker.email }}</td>
		            </tr>
		            {% endfor %}
	        	</table>
	        </div>	
			<br> <br>
	    	
		</div>
		<br> <br>
		{% endfor %}
		{% endif %}

    </div>
        
        
	<br>
		
	</form>

    <br>

	<script>
        const phone_message = "Please enter a valid phone number: +X XXX-XXX-XXXX";
        const phone = document.getElementById("walker_phone");

        phone.addEventListener("input", function (event) {
        if (phone.validity.patternMismatch) {
            phone.setCustomValidity(phone_message);
        } else {
            phone.setCustomValidity("");
        }
        });
    </script>
{% endblock %}
