{% extends 'base.html' %}

{% load static %}

{% block styles %}
    <link href="{% static '/css/app.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static '/css/form.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static '/css/home.css' %}" rel="stylesheet" type="text/css" />
{% endblock styles %}


{% block content %}

	<br> <br>

	<div class="container-fluid" >

        <div class="whiteresultcontainer" style="width: 60%;" > 

            <div class="formheaders">Profile</div>

			<form action="" method="post" style="margin-left: 65px;">
			{% csrf_token %}

			<div class="table-responsive-lg" style="margin: 0 auto">
			<table >
				<tr style="text-align: left;">
					<td style="margin-right: 10px;" class="formtext">Name: </td>
					<td><input name="walker_name" id="walker_name" value="{{ data.walker.name }}" required class="formfield"></td>
				</tr>
				<tr style="text-align: left;">
					<td style="margin-right: 10px;" class="formtext">Email: </td>
					<td>{{ data.walker.email }}</td>
				</tr>
				<tr style="text-align: left;">
					<td style="padding-right: 20px;" class="formtext">Phone Number: </td>
					<td><input type="tel" name="walker_phone" id="walker_phone" value="{{ data.walker.phone }}"  pattern="^(\+\d{1,2}\s)?\d{3}-\d{3}-\d{4}$" placeholder="+X XXX-XXX-XXXX (country code optional)" required class="formfield"></td>
				</tr>
			</table>
			</div>
			
			<br> <br>

        </div>

    </div>

    <br> <br> 

    <div class="container-fluid" >

        <div class="whiteresultcontainer" style="width: 60%;" > 

            <div class="formheaders">Your Matches</div>


            
            <div class="table-responsive-sm" >
	            <table class="table" style="border-collapse: collapse; text-align: center; margin-left: 65px; width: 85%">
		            <tr>
		                <th>Dog</th>
		                <th>Walk Days</th>
		                <th>Walk Times</th>
		            </tr>

		            {% for match in data.match_list %}
		            <tr>
		                    <!-- list match attributes in each cell -->
		                    <td>{{ match.dog.dog_name }}</td>
		                    <td>{{ match.day }}</td>
		                    <td>{{ match.time }}</td>
		            </tr>
		            {% endfor %}
	        	</table>
	        </div>	
	    	
	        <br> <br>
        </div>

    </div>
        
        
	<br>
	<div class="d-flex justify-content-center">
		{% if data.walker.saved %}
		<label for="save_walker" style="color: seagreen;">Profile Saved!</label>
		<br> <br>
		{% endif %}
	</div>

	<div class="d-flex justify-content-center">
		<button type="submit" name="save_walker" id="save_walker" class="subscribebutton" style="margin-left: 5px; margin-right: 5px">Save</button>
		<button type="submit" name="cancel" id="cancel" class="subscribebutton" style="margin-left: 5px; margin-right: 5px">Cancel</button>
	</div>
	
	</form>

    <br>
{% endblock %}
