{% extends 'base.html' %}


{% block title %}{{ block.super }} Home{% endblock %}

{% load static %}



{% block content %}

<!-- Big content -->
<!-- Need to make the buttons responsive -->
<div class="container mt-5 ">
	<div class="row align-items-center" >
	    <div class="col-12 col-md-5" >
	    	<br> <br> <br>
	        <div class="homebigtxt"> Find your playtime pal.</div> <br>
	        <div class="homesmalltxt">Come join Tufts Animal Aid from the Leonard Carmichael Society. </div>
	        <br> <br> <br>
	        <div class="bothbuttons"> 
		        <button type="button" class="AAbuttons" style="margin-right: 
				      30px;" onclick="window.location='login';"> LOGIN</button>
			<button type="button" class="AAbuttons" onclick="window.location='signup';"> SIGN UP </button>
		    </div>
	        <br> <br> <br>
		</div>
		<div class="col-12 col-md-7">
	  		<img src="{% static 'img/HomePageDog.png' %}" style="width:100%; margin-left: 10px;" class="img-responsive">
	  	</div>
	</div>
</div>

<br> <br> <br> <br> <br> <br> <br> <br>

<div class="container mt-5">

	<div class="row justify-content-center align-self-center" > 
		<img src="{% static 'img/smallPawPrint.svg' %}" class="pawprintsmall"> 
		<div class="AAhomesmallheader"  style=> Our Mission </div>
		<img src="{% static 'img/smallPawPrint.svg' %}" class="pawprintsmall"> 
	</div>

	<div class="captionhometxt"> Animal Aid pairs volunteer undergraduate students with dogs in the nearby Medford/Somerville area to walk on a weekly basis. Walking is a semester-long commitment, and interested students are able to designate their top choices/schedules at the beginning of each semester. Animal Aid pairs volunteer undergraduate students with dogs in the nearby Medford/Somerville area to walk on a weekly basis. Walking is a semester-long commitment, and interested students are able to designate their top choices/schedules at the beginning of each semester. </div>

</div>


<br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>



	<div class="container-fluid" style="background-color: #EFE7E5;">
		<div class="row justify-content-center align-self-center"style="padding-top: 100px;"> 
			<img src="{% static 'img/smallPawPrint.svg' %}" class="pawprintsmall"> 
			<div class="AAhomesmallheader"  style=> Join Our E-List </div>
			<img src="{% static 'img/smallPawPrint.svg' %}" class="pawprintsmall"> 
		</div>

		<div class="container" > 
			<div class="captionhometxt" style="margin-top: 30px !important;"> Interested in joining Tufts Animal Aid? Want to get involve with us? Join our E-list so that you will not miss any information.  </div>
			<br>
			<div class="container py-2">
				<div class="d-flex justify-content-center">
					<form action="" method="post">
						{% csrf_token %}
						<input name="subscribeemail" type="email" class="subscribetextfield" required>
						<button name="subscribe" type="submit" class="subscribebutton">SUBSCRIBE </button>
					</form>
				</div>
			</div>
		</div>

		<br> <br> <br> <br>
	</div>
	</div>


{% endblock %}
