{% extends 'base.html' %}

{% load static %}

{% block styles %}
    <link href="{% static '/css/app.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static '/css/results.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static '/css/home.css' %}" rel="stylesheet" type="text/css" />

{% endblock styles %}

{% block content %}
    <h1>Match Page</h1>
    <form action="" method="post">
        {% csrf_token %}
        <button id="match" name="match" type="submit">Match Dogs With Walkers</button>
        <button id="delete" name="delete" type="submit">Delete Matches</button>
        <p></p>
        <button id="clearUserTimes" name="clearUserTimes" type="submit">Clear User Time Selections</button>
    </form>

    <p></p>
    {% if success %}
        <div>Success! Matches made!</div>
    {% endif %}
    {% if clear %} 
        <div>Successfully deleted matches.</div>
    {% endif %}
    {% if clear_user_times %} 
        <div>Cleared all walker times.</div>
    {% endif %}



{% endblock %}