{% extends 'base.html' %}

{% load static %}

{% block styles %}
    <link href="{% static '/css/app.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static '/css/results.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static '/css/home.css' %}" rel="stylesheet" type="text/css" />

{% endblock styles %}

{% block content %}
    <h1>Match Page</h1>
    <form action="" method="post">
        {% csrf_token %}
        <button id="match" name="match" type="submit">Match Dogs With Walkers</button>
        <button id="delete" name="delete" type="submit" onclick="return confirm('Are you sure you want to delete all matches?')">Delete Matches</button>
        <p></p>
        <button id="clearUserTimes" name="clearUserTimes" type="submit" onclick="return confirm('Are you sure you want to clear walker time selections?')">Clear User Time Selections</button>
        <br><br>
        <button id="openForm" name="openForm" type="submit" 
                onclick="return confirm('Are you sure you would like to open the form?')">
                Open Form
        </button>
        <button id="closeForm" name="closeForm" type="submit" 
                onclick="return confirm('Are you sure you would like to close access to the form?')">
                Close Form
        </button>

    </form>

    <p></p>
    {% if success %}
        <div>Success! Matches made!</div>
    {% endif %}
    {% if clear %} 
        <div>Successfully deleted matches.</div>
    {% endif %}
    {% if clear_user_times %} 
        <div>Cleared all walker times.</div>
    {% endif %}



{% endblock %}