{% extends 'base.html' %}

{% load static %}

{% block styles %}
    <link href="{% static '/css/app.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static '/css/results.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static '/css/home.css' %}" rel="stylesheet" type="text/css" />

{% endblock styles %}

{% block content %}
    <h1>Match Page</h1>
    <form action="" method="post">
        {% csrf_token %}
        <!-- <button id="match" name="match" type="submit" >Match Dogs With Walkers</button> -->
        <!-- <button id="delete" name="delete" type="submit" >Delete Matches</button> -->
        <select id="match_or_clear" name="match_or_clear">
            <option>Match</option>
            <option>Clear</option>
        </select> 
        <button type="submit" name="submit_match_or_clear" id="submit_match_or_clear">Submit</button>
    </form>
    {% if success %}
        <div>Success! Matches made!</div>
    {% endif %}
    {% if clear %} 
        <div>Cleared matches</div>
    {% endif %}



{% endblock %}