{% extends 'base.html' %}

  {% block javascript %}
  <script>

    function stillErrors(id) {
      $(id).addClass('error');
      $(id).parent().find('span').text("❌");
      $(id).parent().find('span').addClass("red");
    }

    function allGood(id) {
      $(id).removeClass('error');
      $(id).parent().find('span').removeClass("red");
      $(id).parent().find('span').addClass("green");
      $(id).parent().find('span').text("✓");
    }

    // Email - AJAX Validation
    $("#id_email").on('input', function () {
      var email = $(this).val();
      $.ajax({
        url: '/ajax/validate_username/',
        data: {
          'email': email
        },
        dataType: 'json',
        success: function (data) {
          var curr_id = "#id_email";
          data.tufts_edu ? allGood(curr_id) : stillErrors(curr_id);
        }
      });
    });

    // Password 1 - AJAX Validation
    $("#id_password1").on('input', function () {
      var password1 = $(this).val();
      $.ajax({
        url: '/ajax/validate_password1/',
        data: {
          'password1': password1
        },
        dataType: 'json',
        success: function (data) {
          var has_error = false;
          if (data.too_short || data.no_special_char || data.too_common || data.only_digits) {
            has_error = true;
          }
          var curr_id = "#id_password1";
          has_error ? stillErrors(curr_id) : allGood(curr_id);
        }
      });
    });

    // Password 2 - AJAX Validation
    $("#id_password2").on('input', function () {
      var password1 = $("#id_password1").val();
      var password2 = $(this).val();
      $.ajax({
        url: '/ajax/validate_password2/',
        data: {
          'password1': password1,
          'password2': password2
        },
        dataType: 'json',
        success: function (data) {
          var has_error = true;
          if (data.strong_pass && data.is_matching) {
            has_error = false;
          }
          console.log(data);
          var curr_id = "#id_password2";
          has_error ? stillErrors(curr_id) : allGood(curr_id);
        }
      });
    });
  </script>
{% endblock %}

  {% block content %}
    <nav> 
      <li {% if active_link == "home" %}class="active"{% endif %}><a href="{% url 'home' %}">Home</a></li> 
      <li {% if active_link == "signup" %}class="active"{% endif %}><a href="{% url 'signup' %}">Sign Up</a></li> 
      <li {% if active_link == "login" %}class="active"{% endif %}><a href="{% url 'login' %}">Login</a></li> 
      <li {% if active_link == "password_reset" %}class="active"{% endif %}><a href="{% url 'password_reset' %}">Forgot your password?</a></li> </nav>
    </nav>
    <h2>Sign up</h2>
    <form method="post">
      {% csrf_token %}
      {% for field in form %}
        <p>
          {{ field.label_tag }}<br>
          {{ field }}&nbsp;<span class="status"></span>
          {% for error in field.errors %}
            <p style="color: red">{{ error }} {% if error == "A user with that email already exists" %} </p>
            {% endif %}
          {% endfor %}
        </p>
      {% endfor %}
      <button type="submit">Sign up</button>
    </form>
  {% endblock %}