{% extends 'base.html' %}

  {% block javascript %}
  <script>
    console.log("TESTING");
    $("#id_email").on('input', function () {
      console.log( $(this).val() );
      var email = $(this).val();
      $.ajax({
        url: '/ajax/validate_username/',
        data: {
          'username': email
        },
        dataType: 'json',
        success: function (data) {
          if (data.tufts_edu) {
            console.log("The email does not with tufts.edu");
          }
          if (data.is_taken) {
            console.log("This email is already taken");
          }
        }
      });
    });
    $("#id_password1").on('input', function () {
      console.log( $(this).val() );
      var password1 = $(this).val();
      $.ajax({
        url: '/ajax/validate_password1/',
        data: {
          'password1': password1
        },
        dataType: 'json',
        success: function (data) {
          if (data.is_short) {
            console.log("The password is too short");
          }
          if (data.is_common) {
            console.log("The password is too common");
          }
        }
      });
    });
  </script>
{% endblock %}

  {% block content %}
    <nav> 
      <li {% if active_link == "home" %}class="active"{% endif %}><a href="{% url 'home' %}">Home</a></li> 
      <li {% if active_link == "signup" %}class="active"{% endif %}><a href="{% url 'signup' %}">Sign Up</a></li> 
      <li {% if active_link == "login" %}class="active"{% endif %}><a href="{% url 'login' %}">Login</a></li> 
      <li {% if active_link == "password_reset" %}class="active"{% endif %}><a href="{% url 'password_reset' %}">Forgot your password?</a></li> </nav>
    </nav>
    <h2>Sign up</h2>
    <form method="post">
      {% csrf_token %}
      {% for field in form %}
        <p>
          {{ field.label_tag }}<br>
          {{ field }}
          {% for error in field.errors %}
            <p style="color: red">{{ error }} {% if error == "A user with that email already exists" %}</p>
              <!-- <a href ="{% url 'login' %}"> Login? </a>{% endif %} -->
          {% endfor %}
        </p>
      {% endfor %}
      <button type="submit">Sign up</button>
    </form>
  {% endblock %}