{% extends 'base.html' %}

{% load static %}

{% block styles %}
    <link href="{% static '/css/app.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static '/css/form.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static '/css/home.css' %}" rel="stylesheet" type="text/css" />
{% endblock styles %}


{% block content %}
    
    <br> <br>

    <div class="container-fluid" >

        <div class="whiteresultcontainer"> 

        {% if form_is_open %}

        <div class="formheaders">Walker Information</div>

	    <form action="" method="post">
        {% csrf_token %}
		
		<!-- <div class="form-inline"> -->
			<div class = "form-group" style="margin-left:65px; float: left; text-align: left;">
	     		<label for="inlineFormInput" class="formtext">Name</label> <br>
	      		<input type="text" class="formfield" placeholder="Walker Name" name="walker_name" id="walker_name" value="{{ data.walker.name }}" maxlength="30" size="30" required>
	      	</div>

	      	<div class = "form-group" style="margin-left:65px; float: left; text-align: left;">
	      		<label for="inlineFormInput" class="formtext">Phone Number</label><br>
	      		<input type="tel" class="formfield" name="walker_phone" id="walker_phone" value="{{ data.walker.phone }}" maxlength="16" size="16" pattern="^(\+\d{1,2}\s)?\d{3}-\d{3}-\d{4}$" placeholder="+X XXX-XXX-XXXX" required style="width: 350px;">
	      	</div>
    	<!-- </div> -->
        	
            <br><br><br><br><br>
        

            <div class="formheaders" style="margin-top: 30px;">Dog Preferences</div>
            {% for num in data.pref_nums %}
                <div class = "form-group" style="margin-left:65px; float: left; text-align: left;">
                        <label for="inlineFormInput" class="formtext">Choice #{{ num }}</label> <br>
                        <select id="dog_select_{{ num }}" name="dog_select_{{ num }}" onchange="updateWalkTimes()" class="formfield" style="width: 130px" >
                        <option>----</option>
                        </select>
                </div>
            {% endfor %}


            <br><br><br><br><br>
        

            <div class="formheaders" style="margin-top:30px;">Times Available</div>
        
            <div class="table-responsive-lg">

            <table style="border-collapse: collapse; margin-left: 65px; width: 80%" >

                <!-- FOR HEADER - iterate through days ['Monday', 'Tuesday', ...] -->
                <tr>
                    {% for day in data.days %}
                        <td><div class="formtext" style="text-align: center; font-size: 18px; min-width: 90px; border-bottom: 1px solid black" >{{ day }}</td>
                    {% endfor %}
                </tr>
                <!-- iterate through hours ['9:00am', '10:00am', ...] -->
                {% for hour in data.hours %}
                    <tr>
                        <!-- iterate through days ['Monday', 'Tuesday', ...] -->
                        {% for day in data.days %}
                            <td>
                                <!-- checkbox naming scheme: "Thursday-2:00pm" -->
                                <input type="checkbox" name="{{ day }}-{{ hour }}" id="{{ day }}-{{ hour }}">
                                <label for="{{ day }}-{{ hour }}">{{ hour }}</label>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>

            </div>


            <br><br><br><br>

            <button type="submit" name="submit_form" id="submit_form" class="subscribebutton" style="float: left; margin-left: 65px;" onclick="return alert('Preferences saved!')";>Submit</button>

            <br><br><br><br>
        </form>

        {% else %}
            <br>
            <p>The form is closed right now.</p>
            <br>
        {% endif %}


        </div>

    </div>

    <br>

    {% if form_is_open %}

        <script>
            var data = JSON.parse("{{ json_data|escapejs }}");
            var days = data["days"];
            var hours = data["hours"];
            var times = data["times"];
            var prevChoices = data["prev_choices"];
            var dogList = data["dog_list"];
            var pref_count = data["pref_count"]

            // looping through dropdowns
            for (var prefNum = 0; prefNum < pref_count; prefNum++) {
                var ddl = document.getElementById(`dog_select_${prefNum + 1}`);

                // populating dropdown with dog names
                for (var dogName in dogList) {
                    var opt = document.createElement("option");
                    opt.text = dogName;
                    ddl.appendChild(opt);
                }
                
                // defaulting to previously selected dog, if it's still visible
                for (var i = 0; i < ddl.length; i++){
                    if (prevChoices[prefNum] == null) {
                        break;
                    }
                    if (ddl.options[i].value == prevChoices[prefNum]){
                        ddl.options[i].selected = true;
                        break;
                    }
                }
            }

            // check previously selected walk time checkboxes
            for (var day = 0; day < days.length; day++) {
                for (var hour = 0; hour < hours.length; hour++) {
                    var cb = document.getElementById(days[day] + "-" + hours[hour]);
                    cb.checked = times[day][hour];
                }
            }

            // update checkboxes on load
            updateWalkTimes();

            // disables all walk time checkboxes
            function disableBoxes() {
                for (var day = 0; day < days.length; day++) {
                    for (var hour = 0; hour < hours.length; hour++) {
                        var cb = document.getElementById(days[day] + "-" + hours[hour]);
                        cb.disabled = true;
                        cb.parentElement.style.backgroundColor = "";
                    }
                }
            }

            // highlights and enables times needed by selected dogs
            function updateWalkTimes() {
                disableBoxes();

                // looping through dropdowns
                for (var prefNum = 0; prefNum < pref_count; prefNum++) {
                    var selectedDog = document.getElementById(`dog_select_${prefNum + 1}`).value;

                    // skip pref if no dog is selected
                    if (selectedDog == '----') {
                        continue;
                    }
                    
                    // get dog times using dogList dict
                    var selectedTimes = dogList[selectedDog];

                    // looping through selectedDog's times
                    for (var day = 0; day < days.length; day++) {
                        for (var hour = 0; hour < hours.length; hour++) {

                            // enable boxes which are needed by dog schedule
                            if (selectedTimes[day][hour]) {
                                var cb = document.getElementById(days[day] + "-" + hours[hour]);
                                cb.disabled = false;
                                cb.parentElement.style.backgroundColor = "beige";
                            }
                        }
                    }
                }

                // for each walk time: if disabled, uncheck
                for (var day = 0; day < days.length; day++) {
                    for (var hour = 0; hour < hours.length; hour++) {
                        var cb = document.getElementById(days[day] + "-" + hours[hour]);
                        if (cb.disabled && cb.checked) {
                            cb.checked = false;
                        }
                    }
                }
            }

            const phone_message = "Please enter a valid phone number: +X XXX-XXX-XXXX";
            const phone = document.getElementById("walker_phone");

            phone.addEventListener("input", function (event) {
            if (phone.validity.patternMismatch) {
                phone.setCustomValidity(phone_message);
            } else {
                phone.setCustomValidity("");
            }
            });
        </script>
    {% endif %}

{% endblock %}
