{% extends 'base.html' %}

{% load static %}

{% block content %}
    <h2><u>Walker Signup</u></h2>
    <form action="" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>Name: </td>
                <td><input name="walker_name" id="walker_name" value="{{ data.walker.name }}" required></td>
            </tr>
            <tr>
                <td>Phone Number: </td>
                <td><input type="tel" name="walker_phone" id="walker_phone" value="{{ data.walker.phone }}" maxlength="10" size="10" pattern="[0-9]{10}" required></td>
            </tr>
        </table>
        <br>
        
        <h2><u>Dog Preferences</u></h2>
        <table>
            {% for num in data.pref_nums %}
                <tr>
                    <td>
                        <p>Choice #{{ num }}</p>
                    </td>
                    <td>
                        <!-- Dog pref dropdown menu -->
                        <select id="dog_select_{{ num }}" name="dog_select_{{ num }}" onchange="updateWalkTimes()">
                            <option>----</option>
                        </select>
                    </td>
                    
                </tr>
            {% endfor %}
        </table>

        <h2><u>Walk Times</u></h2>
        
        <table style="background-color: rgba(204, 240, 252, 0.658); border: 1px solid black; border-collapse: collapse;">

            <!-- FOR HEADER - iterate through days ['Monday', 'Tuesday', ...] -->
            <tr style="border: 1px solid black;">
                {% for day in data.days %}
                    <td><h2 style="text-align: center; min-width: 200px;">{{ day }}</h2></td>
                {% endfor %}
            </tr>
            
            <!-- iterate through hours ['9:00am', '10:00am', ...] -->
            {% for hour in data.hours %}
                <tr>
                    <!-- iterate through days ['Monday', 'Tuesday', ...] -->
                    {% for day in data.days %}
                        <td>
                            <!-- checkbox naming scheme: "Thursday-2:00pm" -->
                            <input type="checkbox" name="{{ day }}-{{ hour }}" id="{{ day }}-{{ hour }}">
                            <label for="{{ day }}-{{ hour }}">{{ hour }}</label>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>

        <br>
        <button type="submit" name="submit_form" id="submit_form">Submit</button>
    </form>

    <br>

    <script>
        var data = JSON.parse("{{ json_data|escapejs }}");
        var days = data["days"];
        var hours = data["hours"];
        var times = data["times"];
        var prevChoices = data["prev_choices"];
        var dogList = data["dog_list"];
        var pref_count = data["pref_count"]

        // looping through dropdowns
        for (var prefNum = 0; prefNum < pref_count; prefNum++) {
            var ddl = document.getElementById(`dog_select_${prefNum + 1}`);

            // populating dropdown with dog names
            for (var dogName in dogList) {
                var opt = document.createElement("option");
                opt.text = dogName;
                ddl.appendChild(opt);
            }
            
            // defaulting to previously selected dog, if it's still visible
            for (var i = 0; i < ddl.length; i++){
                if (prevChoices[prefNum] == null) {
                    break;
                }
                if (ddl.options[i].value == prevChoices[prefNum]){
                    ddl.options[i].selected = true;
                    break;
                }
            }
        }

        // update checkboxes on load
        updateWalkTimes();

        // disables all walk time checkboxes
        function disableBoxes() {
            for (var day = 0; day < days.length; day++) {
                for (var hour = 0; hour < hours.length; hour++) {
                    var cb = document.getElementById(days[day] + "-" + hours[hour]);
                    cb.disabled = true;
                    cb.parentElement.style.backgroundColor = "";
                }
            }
        }

        // highlights and enables times needed by selected dogs
        function updateWalkTimes() {
            disableBoxes();

            // looping through dropdowns
            for (var prefNum = 0; prefNum < pref_count; prefNum++) {
                var selectedDog = document.getElementById(`dog_select_${prefNum + 1}`).value;

                // skip pref if no dog is selected
                if (selectedDog == '----') {
                    continue;
                }
                
                // get dog times using dogList dict
                var selectedTimes = dogList[selectedDog];

                // looping through selectedDog's times
                for (var day = 0; day < days.length; day++) {
                    for (var hour = 0; hour < hours.length; hour++) {

                        // enable boxes which are needed by dog schedule
                        if (selectedTimes[day][hour]) {
                            var cb = document.getElementById(days[day] + "-" + hours[hour]);
                            cb.disabled = false;
                            cb.parentElement.style.backgroundColor = "beige";
                        }
                    }
                }
            }

            // for each walk time: if disabled, uncheck
            for (var day = 0; day < days.length; day++) {
                for (var hour = 0; hour < hours.length; hour++) {
                    var cb = document.getElementById(days[day] + "-" + hours[hour]);
                    if (cb.disabled && cb.checked) {
                        cb.checked = false;
                    }
                }
            }
        }
    </script>
{% endblock %}